  .p{
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
      }
      .grid{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 20px;
      }
        .pic-profile{
        width: 200px;
        box-shadow: 0 0 5px rgb(0, 0, 0,0.15);
        vertical-align: top;
        margin-right: 15px;
        margin-bottom: 0;
      }

      .pic{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 0px;

      }
    
      .name{
        font-weight: bold;
        font-size: 18px;
        margin-left: 8px;
        margin-bottom: 0px;
        margin-top: 3px;

      }
      .friend-picture{
        height: 28px;
        width: 28px;
        object-fit: cover;
        border-radius: 30px;
        vertical-align: middle;
        margin-right: 4px;
      
      }
    .mutual-friend{
      color: gray;
      margin-left: 2px;
    }
    .mutual-friend-row{
      display: grid;
      grid-template-columns: 35px 1fr;
      margin-left: 10px;
      margin-bottom: 0;
      align-items: center;
    }
    .button{
      border: none;
      background-color: rgb(61, 88, 212);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 9px;
      color: white;
      font-size: 16px;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
    .button:active{
      background-color: white;
      color: rgb(61, 88, 212);
      border-style: solid;
    }
