.p{
        margin-top: 0;
        margin-bottom: 0;
      }
      .title{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0px;
      }
      .post{
       margin-top: 0px;
       margin-bottom: 5px;
       font-size: 20px;
      }
      .popular{
        margin-top: 5px;
      }
      .picture{
        border-radius: 38px;
      }
      .overview{
        display: inline-block;
        width: 50px;
        vertical-align: middle;
        margin-right: 30px;
      }
      .description{
        width: 200px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
      }
      .button{
        background-color: rgb(17, 102, 193);
        color: white;
        border: none;
        border-radius: 12px;
        vertical-align: middle;
        width: 50px;
        position: absolute;
        right: 1px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        font-weight: bold;
        width: 70px;
        height: 30px;
        cursor: pointer;
      }
      .button:active{
        border-style: solid;
        color: rgb(17, 102, 193);
        background-color: white;
      }