.Amazon-p{
color: aqua;
transition: color 1s;
  }
.Amazon-p:hover{
  color: red;
}
  

  .Nike-p{
    font-size: 40px;
  }
  .stock-p{
    color: greenyellow;
  }
  .cart-button{
    background-color: rgb(233, 233, 25);
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
   
  }
  .cart-button:hover{
    background-color: yellow;
  }
  .cart-button:active{
    opacity: 0.3;
  }

  .buy-button{
    background-color: orange;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
  .buy-button:hover{
    background-color: rgb(239, 168, 36);
  }
  .buy-button:active{
    opacity: 0.3;
  }

  .free-p{
    font-size: 50pxs;
    font-size: large;
  }