 p{
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
      .first-button{
      background-color: aqua;
      color: white;
      border: none;
      display: block;
      margin: 10px auto;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      }
      .first-text{
        font-size: 10px;
        color: orange;
        margin-bottom: 10px;
      }
      .second-text{
        font-size: 20px;
        margin-bottom: 10px;
      }
      .third-text{
        font-size: 34px;
        margin-bottom: 10px;
      }
      .Fourth-text{
        color: gray;
        font-size: 12px;
      }
      .USD-Class{
        margin-left: 0px;
        font-size: 16px;
        color: gray;
      }
      .number-class{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 23px;
      }
      .today-class{
        color: green;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 16px;
      }
      .twoday-class{
        margin-left: 3px;
      }
      .hours-class{
        color: gray;
        font-size: 16px;
      }
      .negative-class{
        color: red;
      }